
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;

}

@font-face {
    font-family: 'Pixelify';
    src: url('../fonts/PixelifySans-VariableFont_wght.ttf');
}

:root {
    --background: rgba(1, 6, 38, 1);
    --primary: #04BF10;
    --secondary: #F2CB05;
    --tertiary: #F21616;
    --text: #fff;
    --dark: #171717;
}

html, body {
    max-height: 100dvh;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/space-2.png") repeat center right fixed;
    background-size: cover;
}

* {
    font-family: 'Pixelify', sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: inset 0 0 0.25rem var(--tertiary);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        color: var(--text);
        background-color: var(--secondary);
        box-shadow: inset 0 0 0.5rem var(--tertiary);
    }

    &:active {
        color: var(--text);
        background-color: var(--tertiary);
        box-shadow: inset 0 0 0.75rem var(--primary);
    }
}

main {
    background-color: var(--background);
    aspect-ratio: 9 / 16;
    margin: 0.5em auto;
    padding: 1em;
    width: 100%;
    max-width: calc(100vh * 9 / 16 - 2em);
    max-height: calc(100vw * 16 / 9 - 2em);

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        width: 100%;
        height: 100%;
        max-height: 8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h1 {
            font-size: 3rem;
            font-weight: 700;
            color: var(--text);
            margin: 0;
        }

        & h2 {
            font-size: 1.5rem;
            font-weight: 400;
            color: var(--text);
            margin: 0;
        }
    }

    .buttons {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.25rem;
    }

    .footer {
        width: 100%;
        height: 100%;
        max-height: 3em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 1em;

        & h4 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #fff;
            margin: 0;
        }

        & p {
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            margin: 0;
        }
    }
}


.topbar {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em auto;

    & .level {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h1 {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--text);
            margin: 0;
        }
    }

    & .score {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--text);
            margin: 0;
        }
    }

    & .time {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--text);
            margin: 0;
        }
    }
}

.game {
    width: 100%;
    aspect-ratio: 8 / 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em auto;

    border-radius: 1rem;
    border: 0.25rem solid var(--primary);
    padding: 0.5em;

    &.screenshot {
        background: var(--background);
    }

}


.kublit__container {
    width: 100%;
    height: 100%;
    display: grid;
    /*grid-template-columns: repeat(8, 1fr);*/
    /*grid-template-rows: repeat(8, 1fr);*/
    gap: 0.25rem;
}

.kublit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    background-color: var(--primary);
    box-shadow: inset 0 0 0.25rem var(--tertiary);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;

    &.transparent {
        background-color: transparent;
        box-shadow: none;
        pointer-events: none;
        color: transparent;
    }

    &.bedrock {
        background-color: var(--dark);
        box-shadow: inset 0 0 0.25rem var(--tertiary);
        pointer-events: none;
        animation: explode 0.5s;
        animation-direction: reverse;
    }


    &:hover {
        background-color: var(--secondary);
        box-shadow: inset 0 0 0.5rem var(--tertiary);
        filter: brightness(1.1);
    }

    &:active {
        background-color: var(--tertiary);
        box-shadow: inset 0 0 0.75rem var(--primary);
        filter: brightness(0.9);
    }

    &.damaged {
        background: url("../img/crack.png"), linear-gradient(var(--secondary), var(--secondary));
        box-shadow: inset 0 0 0.75rem var(--tertiary);
        background-size: cover;
        animation-direction: normal;
        animation: explode 0.5s;
    }

    &.dead {
        opacity: 0;
    }

}

.shop {

    width: 100%;
    height: 240px;
    border: 0.25rem solid var(--primary);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    padding: 0.5em;
    color: var(--text);

}

.shop__container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25rem;
    height: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;


    .item {
        scroll-snap-align: center;
        display: flex;
        max-width: 256px;
        max-height: 100%;
        flex-direction: column;
        user-select: none;

        border-radius: 0.5rem;
        background-color: var(--primary);
        box-shadow: inset 0 0 0.25rem var(--tertiary);
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;

        .item__image {

            max-width: 100%;
            max-height: 100%;

            object-fit: cover;
            aspect-ratio: 1 / 1;
            border-radius: 0.5rem;
            background-color: var(--primary);
            box-shadow: inset 0 0 0.25rem var(--tertiary);
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            cursor: pointer;
        }

        .item__name {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--text);
            margin: 0;
        }

        .item__price {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--text);
            margin: 0;
        }

        .item__description {
            font-size: 1rem;
            height: 100%;
            width: 100%;
            font-weight: 400;
            color: var(--text);
            margin: 0;
            word-wrap: break-word;

        }


        &:hover {
            background-color: var(--secondary);
            box-shadow: inset 0 0 0.5rem var(--tertiary);
            filter: brightness(1.1);
        }

    }

}

.notification {

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: black;
    border-radius: 1rem;
    border: 0.25rem solid var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 3em;
    color: var(--text);
    padding: 0.2em 0.5em;
    margin: 0.5em auto;
    text-align: center;
    font-size: 1.5rem;

    animation: notification 0.5s;

}

.fade-out {
    animation: fade-out 0.5s;
}

.levels__container {
    width: 100%;
    height: 300%;
    border-radius: 1rem;

    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    overflow-y: scroll;

    .level {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        border: 0.15rem solid var(--primary);
        color: var(--text);
        border-radius: 0.5rem;
        padding: 0.5em;

        & .level__preview {
            aspect-ratio: 1 / 1;
            max-height: 128px;
            border-radius: 0.5rem;
            padding: 0.5em;
        }


        .level__info {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.25rem;
            height: 100%;
        }

        .level__play-button {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;
        }

        & h1 {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--text);
            margin: 0;
        }

        & p {
            font-size: 1rem;
            font-weight: 400;
            color: var(--text);
            margin: 0;
        }
    }

}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes notification {
    0% {
        transform: translateY(-100%) translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.8;
        rotate: 45deg;
        z-index: 100;
    }

    100% {
        transform: scale(0);
        opacity: 0;
        rotate: 160deg;
    }
}